.sets {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .cell {
    align-items: center;
    border: 1px solid #000;
    display: grid;
    justify-content: center;
    min-width: 0;
    padding: 5px;
  }

  .unmatched {
      align-items: center;
      border: 1px solid #000;
      display: grid;
      font-weight: 600;
      justify-content: center;
  }

  .walkowers > div {
      font-weight: 600;
  }