.ladder {
  display: inline-block;
  padding: 5px;
  overflow-x: hidden;
  border: 2px solid #000;
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  font-size: 1.4rem;
  border: 1px solid black;
  overflow-x: scroll;
  width: 100%;
  border: none;
}

.header,
.row {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr 3fr;
}
.games {
  align-content: space-around;
  display: grid;
}

.container > div:nth-of-type(4) {
  grid-template-columns: auto auto;
  align-content: center;
}

.container > div:nth-of-type(6) {
  grid-template-columns: auto auto;
}

.container > div:nth-of-type(7) {
  grid-template-columns: auto auto;
  grid-area: 2 / 6;
}

.header {
  background: hsl(0, 59%, 41%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

.row {
  background: hsla(0, 59%, 41%, 0.1);
}

.cell {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 0;
  padding: 5px;
  border: 1px solid #000;
}

.sets {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.factor {
  color: brown;
  margin-left: 5px;
  font-size: 1rem;
}

.cell span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
